<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="row main-feed no-print">
  <div class="row">
    <div class="large-13 small-13 large-offset-1 small-offset-1 columns rider-alerts-column">
      <div class="rider-alerts home-box">
        <div class="row">
           <div class="small-3 columns rider-alerts-label">
              <%= image_tag("rider-alerts-image.png", width:140)%>
           </div>
          <div class="small-11 columns scrollable rider-alerts-column">
            <div class="rider-alerts-content">
              <%= render :partial => "pages/recent_tweets" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-14 small-14 large-offset-1 small-offset-1 columns fixed-route-column">
      <div class="small-14 follow-us">
        TO RECEIVE RIDER ALERT NOTIFICATIONS, FOLLOW US ON <%= link_to fa_icon("twitter") , "https://www.twitter.com/r2transit", class: "social-media-twitter" %>, OR LIKE US ON <%= link_to fa_icon("facebook-square"), "https://www.facebook.com/pages/SMART-Transit/246944595460502", class: "social-media-facebook" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-14 small-14 large-offset-1 small-offset-1 columns fixed-route-column">
      <div class="fixed-route home-box">
        <div class="row">
          <div class="medium-5 columns fixed-route-label show-for-medium-up">
            <%= image_tag("fixed-route.png", width:240)%>
            <%= image_tag("fare-free.png", class: "fare-free")%>
            <!--<h5 class="home-box-label">FARE FREE!</h5>-->
          </div>
          <div class="small-14 medium-8 columns">
            <div class="home-box-content">
                <p class="home-box-center"><%= link_to "SCHEDULE", "/files/schedule.pdf" %></p>
                <p class="home-box-center"><%= link_to "INFORMATION", page_path(Page.find_or_create_by(name: "Fixed Route")) %></p>
                <p class="home-box-center"><%= link_to "CLOSURES", page_path(Page.find_or_create_by(name: "closures")) %></p>
                <div class="fixed-route-logos">
                  <a class="img-link" href="http://hb.transit.idaho.gov/main.jsf?view=rpt">
                    <%= image_tag("logos/511.png", width: 50) %>
                    </a>
                  <a class="img-link" href="http://maps.google.com/intl/en/landing/transit/#mdy">
                    <%= image_tag("logos/google_transit.gif", width: 100) %>
                    </a>
                  <a class="img-link" href="http://www.bing.com/maps/transitdefault.aspx">
                    <%= image_tag("logos/bing.png", width: 100) %>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-7 small-7 columns dial-a-ride-column">
      <div class="dial-a-ride home-box">
        <div class="row">
          <div class="medium-4 columns dial-a-ride-label show-for-medium-up">
           <%= image_tag("dial-a-ride.png", width:240)%>
          </div>
          <div class="small-14 medium-8 columns">
            <div class="home-box-content">
              <p class="dial-a-ride-center"><%= link_to "INFORMATION", page_path(Page.find_or_create_by(name: "Dial-A-Ride")) %></p>
              <p class="dial-a-ride-center"><%= link_to "ADA PRIORITY", page_path(Page.find_or_create_by(name: "ADA Priority Paratransit")) %></p>
              <p class="dial-a-ride-center"><%= link_to "MEDICAID", page_path(Page.find_or_create_by(name: "Medicaid")) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-7 small-7 columns home-box-column">
      <div class="inter-county home-box">
        <div class="row">
          <div class="medium-4 columns inter-county-label show-for-medium-up">
            <%= image_tag("intercity-tickets.png", width:240)%>
          </div>
          <div class="small-14 medium-8 columns">
            <div class="home-box-content">
              <ul class="small-block-grid-2">
                <p class="intercity-center"><%= link_to "INFORMATION", page_path(Page.find_or_create_by(name: "Intercity Tickets")) %></p>
              </ul>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<!--Hidden images for replacement into sideshow-->
<!--
<div class="slideshow-hidden">
  <% @images.each do |image| %>
    <%= image_tag("home_banner/cropped/#{image.split('/').last}", height:296, width:317) %>
  <% end %>
</div>
-->