<p id="notice"><%= notice %></p>

  <div class="medium-14 large-14 columns nav">
    <h1><%= @page.name.slice(0,1).capitalize + @page.name.slice(1..-1) %></h1>
  </div>

  <div class="medium-12 large-12 columns nav">
    <div class="panel">
        <%= render :partial => "page_chunks/editable_page_chunk", :locals => {:page_chunk => PageChunk.find_or_create_by_name_and_page_name("first_section", @page.name)} %>
    </div>
  </div>
</div>


<!--
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
-->