<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "SMART - R2 Transit" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Header -->
    <div class="row top-header">
      <div class="small-9 medium-9 large-9 columns top-header-text show-for-medium-up">
         REGIONAL PUBLIC TRANSPORTATION
      </div>
      <div class="small-3 medium-3 large-3 columns top-header-image">
          <%= image_tag("smart-logo.png", height:82, width:170)%>
      </div>      
    </div>
    <!-- End Header -->

    <!-- Header -->
    <div class="row">
      <div class="large-12 columns">

      </div>
    </div>
    <!-- End Header -->

    <!-- Body -->

    <div class="row show-for-medium-up">
      <div class="medium-3 large-3 columns nav">
          <%= image_tag "home_banner/cropped/Design West_20130627_0048.jpg", class: 'top-nav slideshow' %>
          <%= image_tag "home_banner/cropped/Design West_20130627_0145.jpg", class: 'top-nav slideshow' %>
          <%= image_tag "home_banner/cropped/Design West_20130627_0137.jpg", class: 'top-nav slideshow' %>
      </div>
      <div class="medium-5 large-5 columns nav top-nav">
          <%= image_tag "home_banner/full/Design West_20130627_0008.jpg", class: 'top-center-nav' %>
      </div>
      <div class="medium-3 large-3 columns nav top-nav">
          <%= image_tag "home_banner/cropped/Design West_20130627_0033.jpg", class: 'top-nav slideshow' %>
          <%= image_tag "home_banner/cropped/Design West_20130627_0024.jpg", class: 'top-nav slideshow' %>
          <%= image_tag "home_banner/cropped/Design West_20130627_0056.jpg", class: 'top-nav slideshow' %>
      </div>
      <div class="medium-3 large-3 columns nav top-nav">
          <%= image_tag "home_banner/medium/Design West_20130627_0013.jpg", class: 'top-nav-large slideshow' %>
      </div>
    </div>

    <div class="row show-for-medium-up">
      <div class="medium-3 large-3 columns nav">
        <ul class="button-group">
          <li><%= link_to "HOME", "/", class: 'nav' %></li>
        </ul>
      </div>
      <div class="medium-5 large-5 columns nav">
        <ul class="button-group">
          <li><%= link_to "ABOUT", page_path(Page.find_or_create_by(name: "about")), class: 'nav' %></li>
        </ul>
      </div>
      <div class="medium-3 large-3 columns nav">
        <ul class="button-group">
          <li><%= link_to "NEWS", page_path(Page.find_or_create_by(name: "news")), class: 'nav' %></li>
        </ul>
      </div>
      <div class="medium-3 large-3 columns nav">
        <ul class="button-group">
          <li><%= link_to "DONATE", page_path(Page.find_or_create_by(name: "donate")), class: 'nav' %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 large-3 columns nav">
        <ul class="side-nav main-nav">
          <li class="nav"><%= link_to "CONTACT", page_path(Page.find_or_create_by(name: "contact")), class: 'nav' %></li>
          <li class="nav"><%= link_to "DIRECTIONS", page_path(Page.find_or_create_by(name: "directions")), class: 'nav' %></li>
          <li class="nav"><%= link_to "EMPLOYMENT", "#", class: 'nav' %></li>
          <% if current_user %>
          <li><%= link_to "NOTIFICATIONS", notifications_path, class: 'nav button-logged-in' %></li>
          <li><%= link_to "LOGOUT", destroy_user_session_path, :method => :delete, class: 'nav button-logged-in' %></li>
          <% end %>
        </ul>

        <div class="show-for-medium-up">
          <p><strong>SERVICES MADE POSSIBLE BY THESE PARTNERS:</strong></p>
          <%= image_tag "logos/nsa.jpg", class: 'side-logos', width: 140 %>
          <br />
          <%= image_tag "logos/uofi.png", class: 'side-logos' %>
          <br />
          <%= image_tag "logos/idot.png", class: 'side-logos' %>
          <br />
          <%= image_tag "logos/moscow.png", class: 'side-logos' %>
          <br />
          <%= image_tag "logos/united_way.png", class: 'side-logos' %>
          <br />
          <p style="text-align: center;"><strong>LATAH COUNTY</strong></p>
          <br />
          <%= image_tag "logos/generous_local_supporters.png", class: 'side-logos' %>
          <br />
        </div>
      </div>
      <div class="small-11 large-11 columns home-body">
        <div class="row">
          <div class="small-14 follow-us">
            FOR LIVE RIDER ALERTS: FOLLOW US ON <%= link_to fa_icon("twitter") , "https://www.twiter.com/r2transit", class: "social-media-twitter" %> LIKE US ON <%= link_to fa_icon("facebook-square"), "https://www.facebook.com/pages/SMART-Transit/246944595460502", class: "social-media-facebook" %>
          </div>
          <div class="small-14">
            <% alert_or_notice = flash[:notice] if flash[:notice] %>
            <% alert_or_notice = flash[:alert] if flash[:alert] %>
            <% if alert_or_notice %>
              <div data-alert class="alert-box info">
                <%= alert_or_notice %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <!-- End Body -->
  </body>
</html>
